@model TEDALS_Ver01.Models.Config_OptionVal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Config_OptionVal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConfigurationCollection.CollectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfigurationCollection.CollectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionValue.OptionVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionValue.OptionVal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Config_OptionValID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
