@model IEnumerable<TEDALS_Ver01.Models.Config_OptionVal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConfigurationCollection.CollectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionValue.OptionVal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConfigurationCollection.CollectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionValue.OptionVal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Config_OptionValID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Config_OptionValID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Config_OptionValID })
        </td>
    </tr>
}

</table>
