@model IEnumerable<TEDALS_Ver01.Models.ConfigurationCollection>

@{
    ViewBag.Title = "Configuration Collection";
}
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>Configuration Collection</li>
</ul>

<h2>Configuration Collection</h2>

<div class="col-md-2">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("View System Families", "Index", "LsystemFamilies")</li>
        <li>@Html.ActionLink("View all Configuration", "Index", "ConfigurationCollections")</li>
        <li>@Html.ActionLink("View all Systems", "Index", "Lsystems")</li>
    </ul>
</div>

<div class="col-md-10">


    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CollectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lsystem.LsystemName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td data-toggle="tooltip" title="@item.DescriptionDE">
                    @Html.ActionLink(item.CollectionName, "ListConfigurations", "ConfigurationCollections", new { id = item.ConfigurationCollectionID }, null)
                </td>
                <td data-toggle="tooltip" title="@item.Lsystem.DescriptionDE">
                    @Html.DisplayFor(modelItem => item.Lsystem.LsystemName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ConfigurationCollectionID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ConfigurationCollectionID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ConfigurationCollectionID })
                </td>
            </tr>
        }

    </table>
</div>