@model TEDALS_Ver01.Models.Calculation

@{
    ViewBag.Title = "Delete";
}
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Calculations", "Index", "Calculations")</li>
    <li>Delete Calculation</li>
</ul>
<h2>Delete @Model.CalculationName</h2>
<div class="col-md-2">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("View Calculations", "Index", "Calculations")</li>
        <li>@Html.ActionLink("Add New Calculation", "Create", "Calculations")</li>
        <li>@Html.ActionLink("View Data Formats", "Index", "DataFormats")</li>
    </ul>
</div>

<div class="col-md-10">
    <h3>Are you sure you want to delete this?</h3>


        <hr />
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.CalculationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CalculationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CalculationFormula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CalculationFormula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhysicalUnit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhysicalUnit)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataFormat.FormatName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataFormat.FormatName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescriptionEN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescriptionEN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescriptionDE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescriptionDE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
