@model List<TEDALS_Ver01.Models.SetValue>
@{
    ViewBag.Title ="Property value";
}
<ul class="breadcrumb">
    You are Here :
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("System family", "Index", "LsystemFamilies")</li>
    <li>@Html.ActionLink("Systems", "Index", "Lsystems")</li>
    <li>@Html.ActionLink("Options", "Index", "Options")</li>
    <li>@Html.ActionLink("Option Values", "Index", "OptionValues")</li>
    <li>@Html.ActionLink("Properties", "Index", "SetValues", new { id = ViewBag.id},null)</li>
    <li> Add System Properties</li>
</ul>

<h2>Add Property</h2>

@if(ViewBag.Message!=null)
{
    <h4><mark>@ViewBag.Message</mark></h4>
}
<h4>Family Name : @ViewBag.FamilyName</h4>
<h4>System name : @ViewBag.Lsystem</h4>
<h4>Option : @ViewBag.Option</h4>
<h4>Option Value : @ViewBag.OptionValue</h4>

@if(ViewBag.Message == null)
{
    

using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table">
            <tr>
                <th>Property</th>
                <th>Value</th>
                <th>Physical Unit</th>
                <th >Description</th>
            </tr>
            
            @for (int i = 0; i < Model.Count(); i++)
            {
                //Html.LabelFor(model=>model[i].TcSet.SetName);
                //Html.HiddenFor(model => model[i].TcSetID);
                //Html.EditorFor(model => model[i].Value);
                <tr>
                    <td >
                        @Model[i].TcSet.SetName
                    </td>
                    <td>
                        @Html.HiddenFor(model => model[i].TcSetID)
                        @Html.HiddenFor(model => model[i].OptionValueID)
                        @Html.EditorFor(model => model[i].Value, new { htmlAttributes = new { @class = "form-control" },autofocus="autofocus"})
                        @Html.ValidationMessageFor(model=>model[i].Value, "", new { @class="text-danger"})
                    </td>
                    <td>@Model[i].TcSet.PhysicalUnit</td>
                    <td>@Model[i].TcSet.DescriptionDE</td>
                </tr>

            }
        </table>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
}
<div>
    @Html.ActionLink("Back to List", "Index", "Setvalues", new { id = ViewBag.id},null)
</div>
