@model TEDALS_Ver01.ViewModels.SAP_Table_View
@{
    ViewBag.Title = "Compare";
}

<h2>Compare</h2>
<div class="col-md-6">
    <h4>From SAP file</h4>
    <table class="table">
        <tr>
            <th width="25%">Material Number</th>
            <th width="25%">Option Name</th>
            <th width="25%">Option Value</th>
            <th width="25%">Description</th>
        </tr>
        @foreach (var item in Model.FromSAP)
        {


            <tr>
                <td width="25%">@item.MaterialNumber</td>
                <td width="25%">@item.OptionName</td>
                <td width="25%">@item.OptionValue</td>
                <td width="25%">@item.Description</td>
            </tr>
        }
    </table>
</div>

<div class="col-md-6">
    <h4>From Database</h4>
    <table class="table">
        <tr>
            <th width="25%">Material Number</th>
            <th width="25%">Option Name</th>
            <th width="25%">Option Value</th>
            <th width="25%">Description</th>
        </tr>
        @foreach (var item in Model.SAP_Existing)
        {


            <tr>
                <td width="25%">@item.MaterialNumber</td>
                <td width="25%">@item.OptionName</td>
                <td width="25%">@item.OptionValues</td>
                <td width="25%">@item.Description</td>
            </tr>
        }
    </table>
</div>