@model List<TEDALS_Ver01.ViewModels.ImportSAP.OptionSAP>
@{
    ViewBag.Title = "CompareOption";
}

<ul class="breadcrumb">
    You are Here :
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Import SAP", "ImportSAP", "ImportSAP")</li>

    <li>Compare options</li>
</ul>
<h2>Compare Options</h2>
<div class="col-md-2">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Compare Systems", "CompareSystem", "ImportSAP")</li>
        <li>@Html.ActionLink("Compare Options", "CompareOption", "ImportSAP")</li>
        <li>@Html.ActionLink("Compare Option values", "CompareOptionValues", "ImportSAP")</li>
        <li>@Html.ActionLink("Upload a new SAP file", "Upload", "ImportSAP")</li>
    </ul>
</div>
<div class=" col-md-10">
    @using (Html.BeginForm("CompareOption", "ImportSAP"))
    {
        <div class="col-md-10">

            @foreach (var item in ViewBag.SystemFilter)
            {
                <div class="col-md-3">
                    <input type="checkbox" value="@item.LsystemID" name="id" />@item.LsystemName

                </div>
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Filter" class=" btn btn-default" />
                </div>
            </div>
        </div>

    }
    <div class="col-md-10">
        @if (Model != null)
        {
            <h4>
                Data Only in SAP Export FIle
            </h4>
            <table class="table">
                <tr>
                    <th>System name</th>
                    <th>Material Number</th>
                    <th>Option Name</th>
                    <th></th>
                </tr>
                @foreach (var modelitem in Model)
                {
                    foreach (var item in modelitem.s_d_mismatch)
                    {
                        <tr>
                            <td>@item.SystemName</td>
                            <td>@item.MaterialNo</td>
                            <td>@item.OptionName</td>
                            <td>@Html.ActionLink("Create", "OptionCreate", "ImportSAP", new { OptionName = item.OptionName, lsysid = item.LsystemID }, null)</td>
                        </tr>
                    }
                }
            </table>

            <h4>
                Data Only in TeDaLs
            </h4>

            <table class=" table">
                <tr>
                    <th>System name</th>
                    <th>Material Number</th>
                    <th>Option Name</th>
                    <th></th>
                </tr>
                @foreach (var modelitem in Model)
                {
                    foreach (var item in modelitem.d_s_mismatch)
                    {
                        <tr>
                            <td>@item.SystemName</td>
                            <td>@item.MaterialNo</td>
                            <td>@item.OptionName</td>
                            <td>@Html.ActionLink("Edit", "Edit", "Options", new { id = item.OptionID }, null) | @Html.ActionLink("Delete", "Delete", "Options", new { id = item.OptionID }, null)</td>
                        </tr>
                    }
                }
            </table>

            <h4>
                Data in TeDaLs and SAP Export File
            </h4>
            <table class="table">
                <tr>
                    <th>System name</th>
                    <th>Material Number</th>
                    <th>Option Name</th>
                    <th></th>
                </tr>
                @foreach (var modelitem in Model)
                {
                    foreach (var item in modelitem.d_s_match)
                    {
                        <tr>
                            <td>@item.SystemName</td>
                            <td>@item.MaterialNo</td>
                            <td>@item.OptionName</td>
                            <td>@Html.ActionLink("Compare Option values", "CompareOptionValues", "ImportSAP", new { id = item.LsystemID }, null)</td>
                        </tr>
                    }
                }
            </table>
        }

    </div>
</div>