@model TEDALS_Ver01.Models.ViewsProperty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ViewsProperty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TcSet.SetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TcSet.SetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views.ViewsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views.ViewsName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ViewsPropertyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
