@model IEnumerable<TEDALS_Ver01.Models.ViewsProperty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TcSet.SetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views.ViewsName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TcSet.SetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Views.ViewsName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ViewsPropertyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ViewsPropertyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ViewsPropertyID })
        </td>
    </tr>
}

</table>
