@model IEnumerable<TEDALS_Ver01.Models.TechnicalCharacteristic>

@{
    ViewBag.Title = "Technical Characteristics";
}

<ul class="breadcrumb">
    You are Here :
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>Technical Characteristics</li>
</ul>

<h2>Technical Characteristics</h2>

<div class="col-md-2">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("View Technical Characteristics", "Index")</li>
        <li>@Html.ActionLink("Add New Technical Characteristics", "Create")</li>
        <li>@Html.ActionLink("View Data Formats", "Index", "DataFormats")</li>
        <li>@Html.ActionLink("Add new Data Formats", "Create", "DataFormats")</li>
    </ul>
</div>

<div class="col-md-10">
    @using (Html.BeginForm())
    {
        <p>
            Search @Html.TextBox("SearchString")
            <input type="submit" class="btn btn-default" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TCName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td data-toggle="tooltip" title="@item.DescriptionDE">
                    @Html.ActionLink(item.TCName, "ViewTCSet", "TechnicalCharacteristics", new { id=item.TechnicalCharacteristicID},null)
                </td>
                <td>
                    @Html.ActionLink("Add Properties", "Create", "TcSets", new { id = item.TechnicalCharacteristicID }, null)|
                    @Html.ActionLink("Edit", "Edit", new { id = item.TechnicalCharacteristicID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TechnicalCharacteristicID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TechnicalCharacteristicID })
                </td>
            </tr>
        }

    </table>
</div>

<hr />