@model TEDALS_Ver01.Models.Option

@{
    ViewBag.Title = "View Option Values";
}
<ul class="breadcrumb">
    You are Here :
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("System family", "Index", "LsystemFamilies")</li>
    <li>@Html.ActionLink("Systems", "Index", "Lsystems")</li>
    <li>@Html.ActionLink("Options", "Index", "Options")</li>
    <li>View option Value</li>
</ul>

<h2>ViewOptionValues</h2>
<div class="col-md-2">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("View System Families", "Index", "LsystemFamilies")</li>
        <li>@Html.ActionLink("Add New System Family", "Create", "Lsystemfamilies")</li>
        <li>@Html.ActionLink("View System Independent Option", "ViewOptions", "Options", new { id = 1038 }, null)</li>
        <li>@Html.ActionLink("View all Systems", "Index", "Lsystems")</li>
    </ul>
</div>


<div class="col-md-10">
    <h4>Family Name : @ViewBag.FamilyName</h4>
    <h4>System name : @ViewBag.Lsystem</h4>
    <h4>Option : @ViewBag.Option</h4>


    <table class="table">
        <tr>

            <th>
                Option values
            </th>
            <th>Description in English</th>
            <th>Description in German</th>
            <th></th>
        </tr>

        @foreach (var item in Model.OptionValues.OrderBy(x=>x.OptionVal))
        {
            <tr>
                <td>
                    @Html.ActionLink(item.OptionVal, "Index", "SetValues", new { id = item.OptionValueID }, null)
                </td>
                <td>
                    @item.DescriptionEN
                </td>
                <td>
                    @item.DescriptionDE
                </td>
                <td>
                    @Html.ActionLink("View Calculations", "ViewCalculations1", "Calculations", new { id = item.OptionValueID }, null) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.OptionValueID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OptionValueID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OptionValueID })
                </td>
            </tr>
        }

    </table>
    <hr />
    @Html.ActionLink("Add Option Values", "Create", "OptionValues", new { id = ViewBag.id},null)
    <br />
    @Html.ActionLink("Back to List", "ViewOptions", "Options", new { id = ViewBag.LsystemID},null)
</div>